<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Framework Micro-blog</title>

	<link rel="stylesheet" href="{$basePath}{('/dist/main.css')}">
</head>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
<body>
	<div class="container">
		<ul class="navig">
			<li><a n:href="Homepage:">Homepage</a></li>
			{if $user->loggedIn}
				<li n:if="$user->loggedIn"><a n:href="Post:add">Write new post</a></li>
				<li><a n:href="Sign:out">Sign out</a></li>
			{else}
				<li><a n:href="Sign:in">Sign in</a></li>
			{/if}
			<li><a n:href="Product:">Products</a></li>
		</ul>

		<p n:if="$user->loggedIn">Logged user: {$user->id}</p>
		<a n:href="Basket:">{$basketPrice |number:2:',':' '} € <i class="fas fa-shopping-cart"></i></a>

		{include content}
	</div>

	<script src="{$basePath}/dist/bundle.js"></script>

</body>
</html>
