{block content}
<h2>{$product->title}</h2>

<p>{$product->price |number:2:',':' '} €</p>

<p>Number of pieces in stock: {$product->count}</p>

<p>{$product->description}</p>

<div class="row">
    {control productAmountForm}
</div>