parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 2 days


security:
	users:
		# name: password
		matus: matus
		admin: admin
		denis: denis
		jakub: jakub

search:
	section:
		in: %appDir%
		classes:
			- *Form
			- *Repository
			- *Service


services:
	router: App\Router\RouterFactory::createRouter
